{% block basic_row %}
    <div class="row">
        <div class="col-lg-12 col-12">
            <div class="form-group">
                {{ form_label(form.professionTitle) }}
                {{ form_widget(form.professionTitle) }}
                {{ form_help(form.professionTitle) }}
                {{ form_errors(form.professionTitle) }}
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="form-group">
                {{ form_label(form.fullName) }}
                {{ form_widget(form.fullName) }}
                {{ form_help(form.fullName) }}
                {{ form_errors(form.fullName) }}
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                {{ form_help(form.email) }}
                {{ form_errors(form.email) }}
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="form-group">
                {{ form_label(form.website) }}
                {{ form_widget(form.website) }}
                {{ form_help(form.website) }}
                {{ form_errors(form.website) }}
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="form-group">
                {{ form_label(form.age) }}
                {{ form_widget(form.age) }}
                {{ form_help(form.age) }}
                {{ form_errors(form.age) }}
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="form-group">
                {{ form_label(form.location) }}
                {{ form_widget(form.location) }}
                {{ form_help(form.location) }}
                {{ form_errors(form.location) }}
            </div>
        </div>
    </div>
{% endblock %}
