{% block change_password_row %}
    <div class="row">
        {{ form_row(form.currentPassword) }}
        {{ form_row(form.newPassword.first) }}
        {{ form_row(form.newPassword.second) }}
    </div>
{% endblock %}
{% block section %}change-password{% endblock%}