{% block _resume_educations_entry_row %}
    <div class="educations-item">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="form-group">
                    {{ form_label(form.degree) }}
                    {{ form_widget(form.degree) }}
                    {{ form_help(form.degree) }}
                    {{ form_errors(form.degree) }}
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="form-group">
                    {{ form_label(form.fieldOfStudy) }}
                    {{ form_widget(form.fieldOfStudy) }}
                    {{ form_help(form.fieldOfStudy) }}
                    {{ form_errors(form.fieldOfStudy) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    {{ form_label(form.fromYear) }}
                    {{ form_widget(form.fromYear) }}
                    {{ form_help(form.fromYear) }}
                    {{ form_errors(form.fromYear) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.toYear) }}
                    {{ form_widget(form.toYear) }}
                    {{ form_help(form.toYear) }}
                    {{ form_errors(form.toYear) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.school) }}
            {{ form_widget(form.school) }}
            {{ form_help(form.school) }}
            {{ form_errors(form.school) }}
        </div>
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_help(form.description) }}
            {{ form_errors(form.description) }}
        </div>
        <button type="button" class="btn btn-secondary delete-education-item">
            Delete education
        </button>
    </div>
{% endblock %}