{% block text_row %}
    <div class="form-group">
        {{ form_label(form, '', {'label_attr': {'class': 'font-weight-bold text-dark'}}) }}
        <div class="form-location">
            {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
            {{ form_help(form) }}
        </div>
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block choice_label %}
    <label class="font-weight-bold text-dark" {{ block('attributes') }}>
        {{ label }}
    </label>
{% endblock %}

{% block text_widget %}
    <input type="text"  id="{{ id }}" value="{{ value }}" name="{{ full_name }}" {{ block('attributes') }} />
{% endblock %}

{# Customization by id #}
{#{% block _search_job_ad_where_widget %}
    <input type="text"  id="{{ id }}" value="{{ value }}" name="{{ full_name }}" {{ block('attributes') }} title="{{ label }}" />
{% endblock %}#}

{# Customization by block_prefix #}
{# {% block where_widget %}
    <input type="text"  id="{{ id }}" value="{{ value }}" name="{{ full_name }}" {{ block('attributes') }} title="{{ label }}" />
{% endblock %}#}

{# Customization by block_name #}
{# {% block _search_job_ad_location_widget %}
    <input type="text"  id="{{ id }}" value="{{ value }}" name="{{ full_name }}" {{ block('attributes') }} title="{{ label }}" />
{% endblock %} #}

{% block choice_row %}
    <div class="form-group select-border">
        {{ form_label(form, '', {'attr': {'class': 'font-weight-bold text-dark'}}) }}
        {{ form_widget(form, {'attr': {'class': 'form-control basic-select'}}) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}