{% extends 'base.html.twig' %}
{% block  breadcrumbs %}
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Login</h1>
                    </div>
                    <ul class="breadcrumb-nav">
                        <li><a href="{{ url('app_default') }}">Home</a></li>
                        <li>Login</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block title %}Log in!{% endblock %}
{% block body %}
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 col-md-10 col-12 mt-5">
            <div class="password-content">
                <h3>Connect</h3>
                <p>To continue using the website, please login</p>
                <form method="post" class="mt-5">
                    <div class="row mt-5">
                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a
                                        href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                       class="form-control" autocomplete="email" required autofocus>
                                <i class="bx bxs-low-vision"></i>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group last">
                                <label>Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control"
                                       autocomplete="current-password" required>
                                <i class="bx bxs-low-vision"></i>
                            </div>
                        </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                        #}
                        <div class="col-lg-12">
                            <div class="button">
                                <button class="btn btn-lg btn-primary" type="submit">
                                    Sign in
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
