<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="toggler-icon"></span>
        <span class="toggler-icon"></span>
        <span class="toggler-icon"></span>
    </button>
    <a class="navbar-brand logo" href="{{ url('app_default') }}">
        <img class="logo1" src="{{ asset('assets/images/logo/logo.png') }}" alt="Logo" width="100px"/>
    </a>
    <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
        <ul id="nav" class="navbar-nav ml-auto">
            <li class="nav-item">
                <a {% if app.request.attributes.get('_route') == 'app_default' %}
                    class="active"
                {% endif %} href="{{ url('app_default') }}">Home</a>
            <li class="nav-item">
                <a href="{{ url('about_us') }}"
                        {% if app.request.attributes.get('_route') == 'about_us' %} class="active" {% endif %}>
                    About us
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url('app_resume') }}">Create new resume </a>
            </li>
            <li class="nav-item">
                <a href="contact.html">Contact </a>
            </li>
        </ul>
    </div>
    <div class="button">
        {% if app.user %}
            <a href="{{ url('app_profile') }}" class="login">
                <i class="lni lni-lock-alt"></i> {{ app.user.fullName }}
            </a>
            <a href="{{ path('app_logout') }}" class="btn">Logout</a>
        {% else %}
            <a href="{{ url('app_login') }}" class="login">
                <i class="lni lni-lock-alt"></i> Login
            </a>
            <a href="javacript:" data-toggle="modal" data-target="#signup" class="btn">
                Sign Up
            </a>
        {% endif %}
    </div>
</nav>