<ul>
    <li class="heading">Manage Account</li>
    <li>
        <a {% if menu == 'app_profile' %}class="active"{% endif %} href="{{ url('app_profile') }}">
            <i class="lni lni-clipboard"></i> Profile
        </a>
    </li>
    <li>
        <a {% if menu == 'app_change_password' %}class="active"{% endif %} href="{{ url('app_change_password') }}">
            <i class="lni lni-lock"></i> Change Password
        </a>
    </li>
    {% if is_granted('ROLE_RECRUITMENT_AGENCY') %}
        <li>
            <a {% if menu == 'app_job_manage' %}class="active" {% endif %}href="{{ url('app_job_manage') }}">
                <i class="lni lni-briefcase"></i> Manage Jobs
            </a>
        </li>
    {% endif %}
    <li>
        <a href="{{ url('app_logout') }}">
            <i class="lni lni-upload"></i> Sign Out
        </a>
    </li>
</ul>