{% form_theme resumeForm with ['form/basic_info.fields.html.twig', 'form/education.items.fields.html.twig'] %}
{% extends 'page.html.twig' %}
{% block title %}Hello ResumeController!{% endblock %}
{% block breadcrumbs_title %}Add Resume{% endblock %}
{% block breadcrumbs_description %}
    Business plan draws on a wide range of knowledge from different
    business<br/>
    disciplines. Business draws on a wide range of different
    business .
{% endblock %}
{% block breadcrumbs_tree %}
    <ul class="breadcrumb-nav">
        <li><a href="{{ url('app_default') }}">Home</a></li>
        <li>Add Resume</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-12">
                <div class="add-resume-inner box">
                    <div class="post-header align-items-center justify-content-center">
                        <h3>Basic information</h3>
                        <p>
                            Already have an account?
                            <a href="javacript:" data-toggle="modal" data-target="#login" class="login">
                                Click here to login</a>
                        </p>
                    </div>
                    {{ form_start(resumeForm, {'attr': {'class': 'form-ad'}}) }}
                    <div class="row">
                        {{ form_row(resumeForm.basicInformation) }}
                        <div class="education_container"
                             data-index="{{ resumeForm.educations|length > 0 ? resumeForm.educations|last.vars.name + 1 : 0 }}"
                             data-prototype="{{ form_row(resumeForm.educations.vars.prototype)|e('html_attr') }}"
                        >
                            <h3 class="single-section-title">Education</h3>
                            <div class="education_items">
                                {% for education in resumeForm.educations %}
                                    {{ form_row(education) }}
                                {% endfor %}
                            </div>
                            <a href="javascript:;" class="btn-added" id="add-new-education">
                                <i class="lni lni-add-files"></i>
                                Add New Education
                            </a>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 col-md-5 col-12">
                            <div class="button">
                                <button type="submit" class="btn">Save</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(resumeForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block class %}add-resume{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#add-new-education').on('click', function () {
                let container = $('.education_container'),
                    prototype = container.data('prototype'),
                    index = parseInt(container.attr('data-index'));
                prototype = prototype.replace(/__name__/g, index);
                $('.education_items').append(prototype);
                container.attr('data-index', ++index);
            });

            $('.education_items').on('click', '.delete-education-item', function () {
                $(this).parent().remove();
            });
        });
    </script>
{% endblock %}