{% extends 'manage.html.twig' %}
{% block breadcrumbs %}
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Manage Jobs</h1>
                        <p>
                            Business plan draws on a wide range of knowledge from different
                            business<br>
                            disciplines. Business draws on a wide range of different
                            business .
                        </p>
                    </div>
                    <ul class="breadcrumb-nav">
                        <li><a href="index.html">Home</a></li>
                        <li>Manage Jobs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="job-items">
        <div class="manage-list">
            <div class="row">
                <table class="table table-striped">
                    <caption>Job ads</caption>
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Employer</th>
                        <th>Visible</th>
                        <th>Operations</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for job in jobs %}
                        <tr>
                            <td>{{ job.title }}</td>
                            <td>{{ job.category.label }}</td>
                            <td>{{ job.employer.name }}</td>
                            <td>
                                {% if job.published %}
                                    <p><i class="lni lni-eye"></i></p>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ url('app_view_job', {slug: job.slug}) }}" class="btn btn-sm btn-secondary">
                                    View
                                </a>
                                <a href="{{ url('app_job_edit_ad', {id: job.id}) }}" class="btn btn-sm btn-primary">
                                    Edit
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block section %}manage-jobs{% endblock %}