{% form_theme form  'form/change_password.html.twig' %}
{% extends 'manage.html.twig' %}
{% block breadcrumbs %}
<div class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Change Password</h1>
                    <p>Business plan draws on a wide range of knowledge from different business<br> disciplines.
                        Business draws on a wide range of different business .</p>
                </div>
                <ul class="breadcrumb-nav">
                    <li><a href="{{ url('app_profile') }}">Profile</a></li>
                    <li>Change Password</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="password-content">
    <h3>Change Password</h3>
    {{ form_start(form) }}
    {{ form_row(form) }}
    <div class="col-lg-12">
        <div class="button">
            <button class="btn">Save Change</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
