{% form_theme searchForm with ['form/search_job_type.html.twig'] %}
{% extends 'base.html.twig' %}
{% block title %}Hello DefaultController!{% endblock %}
{% block body %}
    <section class="hero-area style3">
        <div class="hero-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 co-12">
                        <div class="inner-content">
                            <div class="hero-text">
                                <h1 class="wow fadeInUp" data-wow-delay=".3s">
                                    Find the Most Exciting<br/>
                                    Jobs to Make a Better Life
                                </h1>
                                <p class="wow fadeInUp" data-wow-delay=".5s">
                                    Creating a beautiful job website is not easy always. To
                                    make<br/>
                                    your life easier, we are introducing Jobcamp template,<br/>
                                    Leverage agile frameworks to provide a robust<br/>
                                    synopsis for high level overviews.
                                </p>
                                <div class="button wow fadeInUp" data-wow-delay=".7s">
                                    <a href="#" class="btn">Post a Job</a>
                                    <a href="#" class="btn btn-alt">See Our Jobs</a>
                                </div>
                            </div>
                            <div class="job-search-wrap-two mt-50 wow fadeInUp" data-wow-delay=".9s">
                                <div class="trending-keywords mt-30">
                                    <div class="keywords style-two">
                                        <span class="title">Popular Keywords:</span>
                                        <ul>
                                            <li><a href="#">Administrative</a></li>
                                            <li><a href="#">Android</a></li>
                                            <li><a href="#">app</a></li>
                                            <li><a href="#">ASP.NET</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-0 col-md-8 offset-md-2 co-12">
                        {{ form_start(searchForm, {'attr': {'class': 'home-search wow fadeInRight', 'data-wow-delay': '.5s'}}) }}
                        {{ form_errors(searchForm) }}
                        {{ form_row(searchForm) }}
                        <div class="button">
                            <button type="submit" class="btn" href="#"> Search</button>
                        </div>
                        {{ form_end(searchForm) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="apply-process section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="process-item">
                        <i class="lni lni-user"></i>
                        <h4>Register Your Account</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="process-item">
                        <i class="lni lni-book"></i>
                        <h4>Upload Your Resume</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="process-item">
                        <i class="lni lni-briefcase"></i>
                        <h4>Apply for Dream Job</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="job-category section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <span class="wow fadeInDown" data-wow-delay=".2s">Job Category</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">
                            Choose Your Desire Category
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">
                            There are many variations of passages of Lorem Ipsum available,
                            but the majority have suffered alteration in some form.
                        </p>
                    </div>
                </div>
            </div>
            <div class="cat-head">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <a href="browse-jobs.html" class="single-cat wow fadeInUp" data-wow-delay=".2s">
                            <div class="icon">
                                <i class="lni lni-cog"></i>
                            </div>
                            <h3>
                                Technical<br/>
                                Support
                            </h3>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <a href="browse-jobs.html" class="single-cat wow fadeInUp" data-wow-delay=".4s">
                            <div class="icon">
                                <i class="lni lni-layers"></i>
                            </div>
                            <h3>
                                Business<br/>
                                Development
                            </h3>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <a href="browse-jobs.html" class="single-cat wow fadeInUp" data-wow-delay=".6s">
                            <div class="icon">
                                <i class="lni lni-home"></i>
                            </div>
                            <h3>
                                Real Estate<br/>
                                Business
                            </h3>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <a href="browse-jobs.html" class="single-cat wow fadeInUp" data-wow-delay=".8s">
                            <div class="icon">
                                <i class="lni lni-search"></i>
                            </div>
                            <h3>
                                Share Maeket<br/>
                                Analysis
                            </h3>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <a href="browse-jobs.html" class="single-cat wow fadeInUp" data-wow-delay=".2s">
                            <div class="icon">
                                <i class="lni lni-investment"></i>
                            </div>
                            <h3>
                                Finance & Banking <br/>
                                Service
                            </h3>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <a href="browse-jobs.html" class="single-cat wow fadeInUp" data-wow-delay=".4s">
                            <div class="icon">
                                <i class="lni lni-cloud-network"></i>
                            </div>
                            <h3>
                                IT & Networing <br/>
                                Sevices
                            </h3>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <a href="browse-jobs.html" class="single-cat wow fadeInUp" data-wow-delay=".6s">
                            <div class="icon">
                                <i class="lni lni-restaurant"></i>
                            </div>
                            <h3>
                                Restaurant <br/>
                                Services
                            </h3>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <a href="browse-jobs.html" class="single-cat wow fadeInUp" data-wow-delay=".8s">
                            <div class="icon">
                                <i class="lni lni-fireworks"></i>
                            </div>
                            <h3>
                                Defence & Fire <br/>
                                Service
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-us section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-10 col-12">
                    <div class="content-right wow fadeInRight" data-wow-delay=".5s">
                        <h2>
                            Help you to get the <br/>
                            best job that fits you
                        </h2>

                        <div class="single-list">
                            <i class="lni lni-grid-alt"></i>

                            <div class="list-bod">
                                <h5>#1 Jobs site in UK</h5>
                                <p>
                                    Leverage agile frameworks to provide a robust synopsis for
                                    high level overviews. Iterative
                                </p>
                            </div>
                        </div>

                        <div class="single-list">
                            <i class="lni lni-search"></i>

                            <div class="list-bod">
                                <h5>Seamless searching</h5>
                                <p>
                                    Capitalize on low hanging fruit to identify a ballpark value
                                    added activity to beta test.
                                </p>
                            </div>
                        </div>

                        <div class="single-list">
                            <i class="lni lni-stats-up"></i>

                            <div class="list-bod">
                                <h5>Hired in top companies</h5>
                                <p>
                                    Podcasting operational change management inside of workflows
                                    to establish.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 col-12">
                    <div class="content-left wow fadeInLeft" data-wow-delay=".3s">
                        <div calss="row">
                            <div calss="col-lg-6 col-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-6">
                                        <img class="single-img" src="assets/images/about/small1.jpg" alt="#"/>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-6">
                                        <img class="single-img mt-50" src="assets/images/about/small2.jpg" alt="#"/>
                                    </div>
                                </div>
                            </div>
                            <div calss="col-lg-6 col-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-6">
                                        <img class="single-img minus-margin" src="assets/images/about/small3.jpg"
                                             alt="#"/>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-6">
                                        <div class="media-body">
                                            <i class="lni lni-checkmark"></i>
                                            <h6 class="">Job alert!</h6>
                                            <p class="">104 new jobs are available in this week!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="call-action overlay section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="inner">
                        <div class="section-title">
                            <span class="wow fadeInDown" data-wow-delay=".2s">GETTING STARTED TO WORK</span>
                            <h2 class="wow fadeInUp" data-wow-delay=".4s">
                                Don’t just find. Be found. Put your CV in front of great
                                employers
                            </h2>
                            <p class="wow fadeInUp" data-wow-delay=".6s">
                                It helps you to increase your chances of finding a suitable
                                job and let recruiters contact you about jobs that are not
                                needed to pay for advertising.
                            </p>
                            <div class="button wow fadeInUp" data-wow-delay=".8s">
                                <a href="add-resume.html" class="btn"><i class="lni lni-upload"></i> Upload Your Resume</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="find-job section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <span class="wow fadeInDown" data-wow-delay=".2s">Hot Jobs</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">
                            Browse Recent Jobs
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">
                            There are many variations of passages of Lorem Ipsum available,
                            but the majority have suffered alteration in some form.
                        </p>
                    </div>
                </div>
            </div>
            <div class="single-head">
                {% for jobs in recentJobs %}
                    <div class="row">
                        {% for job in jobs %}
                            <div class="col-lg-6 col-12">
                                <div class="single-job wow fadeInUp" data-wow-delay=".3s">
                                    <div class="job-image">
                                        <img src="assets/images/jobs/img1.png" alt="#"/>
                                    </div>
                                    <div class="job-content">
                                        <h4><a href="job-details.html">{{ job.title }}</a></h4>
                                        <p>
                                            We are looking for Enrollment Advisors who are looking to
                                            take 30-35 appointments per week. All leads are
                                            pre-scheduled.
                                        </p>
                                        <ul>
                                            <li>
                                                <i class="lni lni-website"></i><a href="#"> winbrans.com</a>
                                            </li>
                                            <li><i class="lni lni-dollar"></i> $20k - $25k</li>
                                            <li><i class="lni lni-map-marker"></i> New York</li>
                                        </ul>
                                    </div>
                                    <div class="job-button">
                                        <ul>
                                            <li><a href="job-details.html">Apply</a></li>
                                            <li><span>full time</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}

                <div class="row">
                    <div class="col-12">
                        <div class="pagination center wow fadeInUp" data-wow-delay=".3s">
                            <ul class="pagination-list">
                                <li>
                                    <a href="#"><i class="lni lni-arrow-left"></i></a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li>
                                    <a href="#"><i class="lni lni-arrow-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="featured-job section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <span class="wow fadeInDown" data-wow-delay=".2s">Featured Jobs</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">
                            Browse Featured Jobs
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">
                            There are many variations of passages of Lorem Ipsum available,
                            but the majority have suffered alteration in some form.
                        </p>
                    </div>
                </div>
            </div>
            <div class="single-head">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-job wow fadeInUp" data-wow-delay=".2s">
                            <div class="shape"></div>
                            <div class="feature">Featured</div>
                            <div class="image">
                                <img src="assets/images/featured-job/img1.jpg" alt="#"/>
                            </div>
                            <div class="content">
                                <h4><a href="job-details.html">Graphics Design</a></h4>
                                <ul>
                                    <li><i class="lni lni-map-marker"></i> New York</li>
                                    <li><i class="lni lni-briefcase"></i> Full-time</li>
                                    <li><i class="lni lni-dollar"></i> 80K-90K</li>
                                </ul>
                                <p>
                                    We are looking for Enrollment Advisors who are looking to
                                    take 30-35 appointments per week. All leads are
                                    pre-scheduled.
                                </p>
                                <div class="button">
                                    <a href="job-details.html" class="btn">Apply Now</a>
                                    <a href="bookmarked.html" class="btn save"><i class="lni lni-bookmark"></i> Save It</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-job wow fadeInUp" data-wow-delay=".4s">
                            <div class="shape"></div>
                            <div class="feature">Featured</div>
                            <div class="image">
                                <img src="assets/images/featured-job/img2.jpg" alt="#"/>
                            </div>
                            <div class="content">
                                <h4><a href="job-details.html">Restaurant Services</a></h4>
                                <ul>
                                    <li><i class="lni lni-map-marker"></i> New York</li>
                                    <li><i class="lni lni-briefcase"></i> Full-time</li>
                                    <li><i class="lni lni-dollar"></i> 80K-90K</li>
                                </ul>
                                <p>
                                    We are looking for Enrollment Advisors who are looking to
                                    take 30-35 appointments per week. All leads are
                                    pre-scheduled.
                                </p>
                                <div class="button">
                                    <a href="job-details.html" class="btn">Apply Now</a>
                                    <a href="bookmarked.html" class="btn save"><i class="lni lni-bookmark"></i> Save It</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-job wow fadeInUp" data-wow-delay=".6s">
                            <div class="shape"></div>
                            <div class="feature">Featured</div>
                            <div class="image">
                                <img src="assets/images/featured-job/img3.jpg" alt="#"/>
                            </div>
                            <div class="content">
                                <h4><a href="job-details.html">Share Maeket Analysis</a></h4>
                                <ul>
                                    <li><i class="lni lni-map-marker"></i> New York</li>
                                    <li><i class="lni lni-briefcase"></i> Full-time</li>
                                    <li><i class="lni lni-dollar"></i> 80K-90K</li>
                                </ul>
                                <p>
                                    We are looking for Enrollment Advisors who are looking to
                                    take 30-35 appointments per week. All leads are
                                    pre-scheduled.
                                </p>
                                <div class="button">
                                    <a href="job-details.html" class="btn">Apply Now</a>
                                    <a href="bookmarked.html" class="btn save"><i class="lni lni-bookmark"></i> Save It</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-job wow fadeInUp" data-wow-delay=".2s">
                            <div class="shape"></div>
                            <div class="feature">Featured</div>
                            <div class="image">
                                <img src="assets/images/featured-job/img4.jpg" alt="#"/>
                            </div>
                            <div class="content">
                                <h4><a href="job-details.html">Medical services</a></h4>
                                <ul>
                                    <li><i class="lni lni-map-marker"></i> New York</li>
                                    <li><i class="lni lni-briefcase"></i> Full-time</li>
                                    <li><i class="lni lni-dollar"></i> 80K-90K</li>
                                </ul>
                                <p>
                                    We are looking for Enrollment Advisors who are looking to
                                    take 30-35 appointments per week. All leads are
                                    pre-scheduled.
                                </p>
                                <div class="button">
                                    <a href="job-details.html" class="btn">Apply Now</a>
                                    <a href="bookmarked.html" class="btn save"><i class="lni lni-bookmark"></i> Save It</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-job wow fadeInUp" data-wow-delay=".4s">
                            <div class="shape"></div>
                            <div class="feature">Featured</div>
                            <div class="image">
                                <img src="assets/images/featured-job/img5.jpg" alt="#"/>
                            </div>
                            <div class="content">
                                <h4><a href="job-details.html">Auto Mobile Services</a></h4>
                                <ul>
                                    <li><i class="lni lni-map-marker"></i> New York</li>
                                    <li><i class="lni lni-briefcase"></i> Full-time</li>
                                    <li><i class="lni lni-dollar"></i> 80K-90K</li>
                                </ul>
                                <p>
                                    We are looking for Enrollment Advisors who are looking to
                                    take 30-35 appointments per week. All leads are
                                    pre-scheduled.
                                </p>
                                <div class="button">
                                    <a href="job-details.html" class="btn">Apply Now</a>
                                    <a href="bookmarked.html" class="btn save"><i class="lni lni-bookmark"></i> Save It</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-job wow fadeInUp" data-wow-delay=".6s">
                            <div class="shape"></div>
                            <div class="feature">Featured</div>
                            <div class="image">
                                <img src="assets/images/featured-job/img6.jpg" alt="#"/>
                            </div>
                            <div class="content">
                                <h4><a href="job-details.html">IT & Networing Sevices</a></h4>
                                <ul>
                                    <li><i class="lni lni-map-marker"></i> New York</li>
                                    <li><i class="lni lni-briefcase"></i> Full-time</li>
                                    <li><i class="lni lni-dollar"></i> 80K-90K</li>
                                </ul>
                                <p>
                                    We are looking for Enrollment Advisors who are looking to
                                    take 30-35 appointments per week. All leads are
                                    pre-scheduled.
                                </p>
                                <div class="button">
                                    <a href="job-details.html" class="btn">Apply Now</a>
                                    <a href="bookmarked.html" class="btn save"><i class="lni lni-bookmark"></i> Save It</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        tns({
            container: ".client-logo-carousel",
            slideBy: "page",
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 2,
                },
                768: {
                    items: 3,
                },
                992: {
                    items: 4,
                },
                1170: {
                    items: 6,
                },
            },
        });
        //========= testimonial
        tns({
            container: ".testimonial-slider",
            items: 1,
            slideBy: "page",
            autoplay: false,
            mouseDrag: true,
            gutter: 0,
            nav: false,
            controls: true,
            controlsText: [
                '<i class="lni lni-arrow-left"></i>',
                '<i class="lni lni-arrow-right"></i>',
            ],
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 1,
                },
                768: {
                    items: 1,
                },
                992: {
                    items: 1,
                },
                1170: {
                    items: 1,
                },
            },
        });
    </script>
{% endblock %}