{% extends 'page.html.twig' %}
{% block breadcrumbs_title %}{{ job.title }}{% endblock %}
{% block breadcrumbs_description %}{{ job.description }}{% endblock %}
{% block breadcrumbs_tree %}
    <ul class="breadcrumb-nav">
        <li><a href="{{ url('app_default') }}">Home</a></li>
        <li>{{ job.category.label }}</li>
        <li>{{ job.title }}</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="row mb-n5">
        <div class="col-lg-8 col-12">
            <div class="job-details-inner">
                <div class="job-details-head row mx-0">
                    <div class="company-logo col-auto">
                        <a href="#" style="border-radius: 4px; overflow: hidden;"><img src="assets/images/universal-image/job-details.png" alt="Company Logo"></a>
                    </div>
                    <div class="salary-type col-auto order-sm-3">
                        <span class="salary-range">$5000 - $8000</span>
                        <span class="badge badge-success">Full Time</span>
                    </div>
                    <div class="content col">
                        <h5 class="title">Website front end development</h5>
                        <ul class="meta">
                            <li><strong class="text-primary"><a href="#">Avs - Job Portal</a></strong>
                            </li>
                            <li><i class="lni lni-map-marker"></i> 20 Willshire, UK-30009</li>
                        </ul>
                    </div>
                </div>
                <div class="job-details-body">
                    <h6 class="mb-3">Job Description</h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, ex iusto! Tenetur
                        iusto dolore amet voluptates esse? Ut debitis perferendis, impedit ullam ea officia
                        sapiente soluta cupiditate molestiae eius enim aut laboriosam, saepe deleniti. Excepturi
                        nobis amet fugit ipsa corrupti!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ratione odit qui inventore
                        maiores labore tenetur earum! Quam eaque, deleniti quibusdam deserunt quos reprehenderit
                        dolor, in quo voluptates maxime nostrum.</p>
                    <h6 class="mb-3 mt-4">Responsibilities</h6>
                    <ul>
                        <li>Proven work experienceas a web designer</li>
                        <li>Demonstrable graphic design skills with a strong portfolio</li>
                        <li>Proficiency in HTML, CSS and JavaScript for rapid prototyping</li>
                        <li>Experience working in an Agile/Scrum development process</li>
                        <li>Proven work experienceas a web designer</li>
                        <li>Excellent visual design skills with sensitivity to user-system interaction</li>
                        <li>Ability to solve problems creatively and effectively</li>
                        <li>Proven work experienceas a web designer</li>
                        <li>Up-to-date with the latest Web trends, techniques and technologies</li>
                        <li>BS/MS in Human-Computer Interaction, Interaction Design or a Visual Arts subject
                        </li>
                    </ul>
                    <h6 class="mb-3 mt-4">Education + Experience</h6>
                    <ul>
                        <li>Advanced degree or equivalent experience in graphic and web design</li>
                        <li>3 or more years of professional design experience</li>
                        <li>Direct response email experience</li>
                        <li>Ecommerce website design experience</li>
                        <li>Familiarity with mobile and web apps preferred</li>
                        <li>Excellent communication skills, most notably a demonstrated ability to solicit and
                            address creative and design feedback</li>
                        <li>Must be able to work under pressure and meet deadlines while maintaining a positive
                            attitude and providing exemplary customer service</li>
                        <li>Ability to work independently and to carry out assignments to completion within
                            parameters of instructions given, prescribed routines, and standard accepted
                            practices</li>
                    </ul>
                    <h6 class="mb-3 mt-4">Benefits</h6>
                    <ul>
                        <li>Medical insurance</li>
                        <li>Dental insurance</li>
                        <li>Vision insurance</li>
                        <li>Supplemental benefits (Short Term Disability, Cancer &amp; Accident).</li>
                        <li>Employer-sponsored Basic Life &amp; AD&amp;D Insurance</li>
                        <li>Employer-sponsored Long Term Disability</li>
                        <li>Employer-sponsored Value Adds – Fresh Beanies</li>
                        <li>401(k)with matching</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-12">
            <div class="job-details-sidebar">

                <div class="sidebar-widget">
                    <div class="inner">
                        <div class="row m-n2 button">
                            <div class="col-xl-auto col-lg-12 col-sm-auto col-12 p-2">
                                <a href="bookmarked.html" class="d-block btn"><i class="fa fa-heart-o mr-1"></i> Save Job</a>
                            </div>
                            <div class="col-xl-auto col-lg-12 col-sm-auto col-12 p-2">
                                <a href="job-details.html" class="d-block btn btn-alt">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget">
                    <div class="inner">
                        <h6 class="title">Job Overview</h6>
                        <ul class="job-overview list-unstyled">
                            <li><strong>Published on:</strong> Nov 6, 2022</li>
                            <li><strong>Vacancy:</strong> 02</li>
                            <li><strong>Employment Status:</strong> Full-time</li>
                            <li><strong>Experience:</strong> 2 to 3 year(s)</li>
                            <li><strong>Job Location:</strong> Willshire Glen</li>
                            <li><strong>Salary:</strong> $5k - $8k</li>
                            <li><strong>Gender:</strong> Any</li>
                            <li><strong>Application Deadline:</strong> Dec 15, 2022</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block class %}job-details{% endblock %}