{% extends 'manage.html.twig' %}
{% block breadcrumbs %}
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Edit profile</h1>
                    </div>
                    <ul class="breadcrumb-nav">
                        <li><a href="{{ url('app_profile') }}">Profile</a></li>
                        <li>Edit profile</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="password-content">
        <h3>My Profile</h3>
        {{ form_start(profileForm) }}
        {{ form_row(profileForm) }}
        <div class="col-lg-12">
            <div class="button">
                <button class="btn">Save Change</button>
            </div>
        </div>
        {{ form_end(profileForm) }}
    </div>
{% endblock %}
