{% extends 'base.html.twig' %}
{% set currenRoute = app.request.attributes.get('_route') %}
{% block body %}
    <div class="{% block section %}{% endblock %} section">
        <div class="container">
            <div class="alerts-inner">
                <div class="row">
                    <div class="col-lg-4 col-12">
                        <div class="dashbord-sidebar">
                            {% block left_side_menu %}
                                {{ include('partials/_manage_left_menu.html.twig', {'menu': currenRoute}) }}
                            {% endblock %}
                        </div>
                    </div>
                    <div class="col-lg-8">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}