{% extends 'base.html.twig' %}
{% block breadcrumbs %}
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">
                            {% block breadcrumbs_title %}{% endblock %}
                        </h1>
                        <p>
                            {% block breadcrumbs_description %}{% endblock %}
                        </p>
                    </div>
                    {% block breadcrumbs_tree %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <section class="{% block class%}{% endblock%} section">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}